/* Removing things */
*{
    margin: 0px; 
    padding: 0px;
    /* box-sizing: border-box;  */ */
}

 nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(39, 39, 39);
    font-family: 'Poppins', sans-serif;
    /* Persistent navbar */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  
} 


html, body{
    height: 100%;
    background-color: rgb(30, 32, 33);
}
.logo {
    text-decoration: none;
}
.logo h4{
    color: rgb(226, 226, 226);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.logo h4:link, .logo h4:visited { 
    text-decoration: none;
    color: inherit; 
}


.logo h4:hover { 
    color: grey;
    cursor: pointer;
    text-shadow:
    0 0 7px #fff,
    0 0 5px #fff,
    0 0 2px #fff,
    0 0 10px rgb(255, 255, 255);
    transition: 0.25s;
}

.logo h4:active { text-decoration: none; }

/* remove bullet points */
.nav-links li{
    list-style: none;
    border: none;
    border-radius: 0px;
        /* box-shadow: inset 0 0 0 0 white; */
    transition: 0.2s;
}

.nav-links li:hover{
    color: white;
    /* box-shadow: 0 0 10px #15cec1, 0 0 40px #15cec1, 0 0 80px #15cec1; */
    text-decoration: underline;
    /* box-shadow: 0 0 10px rgb(200, 200, 200), 0 0 20px rgb(200, 200, 200), 0 0 30px rgb(200, 200, 200); */

}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

/* a tags */

/* Do not include current current section in navbar in css styling (bold it later) */
.nav-links a:not(#current-section){
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

#current-section {
    color:white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 5px rgb(255, 255, 255)


}

h4 {
    text-decoration: none;
}

.nav-links a:hover{
    color: white;
}

.burger{
    display: none;
    cursor: pointer;
    z-index: 1;

}
.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;

}

/* If window width is less than 1024px, change the spacing of the navbar links to prevent them clashing */
@media screen and  (max-width: 1024px) {
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
}

/* If window width is less than 768 px, switch to mobile view */
@media screen and  (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
            right: 0px;
            height: 92vh;
            top: 8vh;
            background-color:rgb(39, 39, 39);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 35%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    #about-me-title {
        color: white;

    }
}

.nav-active{
    transform: translateX(0%);
}

/* body of website, everytime it has space it pushes on it (min heigh = 100%) */
.page-wrapper {
    margin-top: 70px;

    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;


}

/* Slide animation */
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* --------footer styling-------- */

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    background: rgb(39, 39, 39);
    color: rgb(226, 226, 226);
    height: 50px;
    text-align: center;
    width: 100%;
     position:fixed; 
    bottom: 0px;
    left: 0px;
    padding-top: 5px;
    margin-top: auto;
}

/* ---- particles.js ---- */

#particles-js{
  width: 100%;
  height: 100vh;
  background-color: rgb(30, 32, 33); 
  background-image: url('');
  background-size:auto;
  background-repeat: no-repeat;
  /* background-repeat: no-repeat; */


}




#about-me-title {
    font-size: 5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(200, 200, 200);
    position: relative;
    top: 40%;
    bottom: 50%;
    text-align: center;
}

#about-me-description {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(169, 169, 179);
    position: relative;
    top: 40%;
    bottom: 50%;
    text-align: center;


}

/* icons */
#about-me-description i{
    color: rgb(200, 200, 200);
    padding-inline: 8px;
    padding-top: 20px;
}

#about-me-description .icons a{
    color: rgb(200, 200, 200);
}


@media only screen and (max-width:550px) {
    #about-me {
        margin: 0;
        font-size: 40px
    }
}

.about-container {
    font-family: 'Poppins', sans-serif;
    color:rgb(200, 200, 200);
    width: 800px;
    height: 400px;
    position: relative;
    margin: 100px auto;
    top: 50px;
    bottom: 100px;
}

.about-container h1 {
    font-size: 30px;
}

.about-container a {
    color:rgb(200, 200, 200);
    cursor: pointer;
    text-decoration:underline; 
}

.gh-chart {
    padding: 5px;
    width: 100%;
    filter: invert(0.95) hue-rotate(195deg);
}

@media only screen and (max-width:800px) {
    .about-container {
        width: 500px;
        height: 400px;
    }
}

@media only screen and (max-width:550px) {
    .about-container {
        width: 400px;
        height: 400px;
    }
}


.container {
    
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 130px auto;
}

.container .box{
    display: grid;
    grid-template-rows: 50px 175px 50px;
    position: relative;
    width: calc(400px - 30px); 
    height: calc(300px - 30px);
    background: rgb(20, 20, 20);
    float:left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    color: rgb(200, 200, 200);
    font-family: 'Poppins', sans-serif;
    padding-inline: 1em;

}


.project-name {
    padding: 10px;
    text-align: center;
}

.project-description {

}

.language-boxes li{
    list-style: none;
    display: inline-block;
    background-color: rgb(0, 100,25);
    font-size: 0.85em;
    padding: 4px;
    border-radius: 3px;


}


.terminal-logo {
    color: rgb(200, 200, 200);
    font-family:monospace;
}

.logo a, .logo a:visited {
    color: rgb(200, 200, 200);
    text-decoration: none;
}

.logo-text{
    font-size:1.125rem
}
.logo-cursor{
    display:inline-block;
    width:10px;
    height:1rem;
    background:#fe5186;
    margin-left:5px;
    border-radius:1px;
    animation:cursor 1s infinite;
    background-color:rgb(200, 200, 200);
    animation-duration:2s;
}
@media (prefers-reduced-motion: reduce){
    .logo-cursor{
        animation:none
    }
}
@keyframes cursor{
    0%{
        opacity:0
    }
    50%{
        opacity:1
    }
    100%{
        opacity:0
    }
}
    














