.globe {
  height: calc(78vh) !important;
  color: green;
  /* margin-bottom: 30px; */
  overflow: hidden;
  position: relative;
}



.globe canvas {
  width: 90% !important;
  height: 90% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.BucketListTitle {
  text-align: center;
  color: rgb(200, 200, 200);
  font-size: 30px;
  font-weight: bolder;
}

.parent-container {
  overflow: hidden;
}







