.navbar {
  background: #282c34;
  width: 100%;
  height: 8vh;
  
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.spacer {
  flex: 0 0 120px;
}


.links a {
  text-decoration: none;
  transition: text-shadow 0.3s ease-in-out;
}

.links a:hover,
.links a:active {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

.navbar a {
  color: rgb(200, 200, 200);
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 40px;
  transition: transform 0.3s ease-in-out;
}

.toggleButton button {
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.toggleButton:hover svg {
  transform: scale(1.2);
}

#open {
  height: 100vh;
  transition: height 0.3s ease-in-out;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open a {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .navbar a {
    width: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }

  #close a {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }
}


.logo {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  text-decoration: none;
  font-weight: bold; }
  .logo img {
    height: 44px; }
  .logo__mark {
    display: inline-flex;
    align-items: center;
    margin-right: 5px; }
    .logo__mark .greater-icon {
      width: 0.95rem;
      height: 100%; }
      .logo__mark .greater-icon path {
        stroke: currentColor;
        stroke-width: 8px; }
  .logo__text {
    font-size: 1.125rem; }
  .logo__cursor {
    display: inline-block;
    width: 10px;
    height: 1rem;
    background: #fe5186;
    margin-left: 5px;
    border-radius: 1px;
    animation: cursor 1s infinite; }

@keyframes cursor {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

    

