.projectItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #181818;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
    box-sizing: border-box;
}

.projectItem:hover {
    transform: scale(1.02);
}

.projectItem .bgImage {
    flex-grow: 0.7;
    flex-basis: 0;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-right: 20px; /* Adjust margin as needed */
    position: relative; /* For the pseudo-element */
    width: 100%; /* Set width */
}

/* Create a square aspect ratio */
.projectItem .bgImage:before {
    content: '';
    display: block;
    padding-top: 100%; /* This creates the square */
}

.projectItem .description {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-basis: 0;
    /* Add padding or margin if needed */
}

.projectItem h1, .projectItem p {
    margin: 0;
}

.technology-bubble {
    border: 1px solid black; /* Add a border */
    padding: 6px; /* Add some padding */
    margin: 2px; /* Add some margin */
    background-color: rgb(64, 168, 181); /* Add a background color */
    border-radius: 9px; /* Add rounded corners */
    display: inline-block; /* Display the boxes side by side */
    color: white;
  }

  .technologies {
    flex-grow: 0; /* Prevent it from expanding */
    margin-top: auto; /* Push it to the bottom */
    padding-top: 5px;
    /* ... other styles ... */
}

  