.projectItem {
    display: flex;
    width: 100%;
    background-color: #181818;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
    box-sizing: border-box;
}

.projectItem:hover {
    transform: scale(1.02);
}

.projectItem .bgImage {
    flex-grow: 1;
    flex-basis: 0;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-right: 20px; /* Adjust margin as needed */
    position: relative; /* For the pseudo-element */
    width: 100%; /* Set width */
}

/* Create a square aspect ratio */
.projectItem .bgImage:before {
    content: '';
    display: block;
    padding-top: 100%; /* This creates the square */
}

.projectItem .description {
    flex-grow: 2;
    flex-basis: 0;
    /* Add padding or margin if needed */
}

.projectItem h1, .projectItem p {
    margin: 0;
}
